/*Contatos start*/

.contato{
    padding-top: 1.5rem !important;
	position: relative;
	width: 100%;
	background-color: #343a40;
	background-size: cover;
	display: block;
	align-items: center;
	transition:0.6s;
	color: white;
}

.contato .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contato .copyright {
    background: #4b535b;
}
.contato .py-3 {
    padding: 1.2rem !important;
}
.contato li{
	list-style:none;
}
.contato a {
	font-size: 17px;
    text-decoration: none !important;
    color: #EDEDED;
	transition: 500ms;
}
.contato a:hover{
	color: var(--title-color);
}
.contato ul{
	display: block;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.contato .socialc{
	font-size: 15px;
	}