*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, lucida;
}
body { 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
	background-color: black;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0.1; 
	} 
	50%{
		opacity: 0.5;
	}
	75%{
		opacity: 0.8;
	}
    100% { 
        opacity: 1; 
     } 
} 
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.9s;
}
header .logo img{
	width: 50px;
}
header #toggle{
	position: fixed;
	width: 30px;
	height: 30px;
	cursor: pointer;
	right: 40px;
}
header #toggle:before{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header #toggle:after{
	content: '';
	position: absolute;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
body.active header #toggle:before{
	top: 50%;
	left: 50%;
	transform:	translate(-50%, -50%)
				rotate(45deg);
}
body.active header #toggle:after{
	top: 50%;
	left: 50%;
	transform:	translate(-50%, -50%)
				rotate(-45deg);
}
.banner{
	position: relative;
	width: 100%;
	min-height:100vh;
	padding: 100px;
	background-image: url(../img/back.jpg);
	background-size: cover;
	display: flex;
	align-items: center;
	transition:0.6s
}
/* Desliza o conteúdo para direita*/
body.active .banner,
body.active .sobre,
body.active .projetos,
body.active .contato{
	transform: translateX(-400px);
}
#navegacao{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background-color: cornflowerblue;
	z-index: 1;
	display: grid;
	place-items: center;
	transition: 0.6s;
}
#navegacao.active{
	right: 0;
}
#navegacao ul{
	position: relative;
	display: flex;
	flex-direction: column;
}
#navegacao ul li{
	list-style: none;
}
#navegacao ul li a{
	color: #fff;
	text-decoration: none;
	display: inline-flex;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
}
.content{
	max-width: 600px;
}
.content h2{
	color: white;
	font-size: 2.5em;
}
.content h2 span{
	color: #40c3ff;
	font-size: 1em;
}
.content p{
	color: white;
	font-size: 1.2em;
	font-weight: 300;
}
.content a{
	position: relative;
	display: inline-block;
	margin-top: 20px;
	background: white;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
}
.content a:hover{
	background: black;
	color: white;
}
.social{
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 100px;
}
.social li{
	list-style: none;
}
.socal li a{
	position: relative;
	display: grid;
	place-items: center;
	width: 50px;
	height: 50px;
	text-decoration: none;
	margin: 40px 0 0
}
.social li a i{
	font-size: 30pt;
	color: white;
	padding: 5px;
	transition: 1s;
}
.social li a i:hover{
	font-size: 31pt;
	color: yellow;
}
/*Sobre*/
.sobre{
	position: relative;
	width: 100%;
	min-height:100vh;
	padding: 100px;
	background-image: url(http://i.imgur.com/gi9t8IS.jpg);
	background-color: rgb(5, 6, 9);
	background-size: cover;
	display: flex;
	align-items: center;
	transition:0.6s;
	color: white;
}
.sobre img{
	float: right;
	margin-left: 10px;
	height: 200px;
	border-radius: 50%;
}
.sobre h2{
	color: white;
	font-size: 2.5em;
}
.sobre .title span,
.projetos .title span{
	display:block;
	color: #40c3ff;
	font-size: 3em;
	margin-bottom: 20px;
}
.sobre p{
	color: white;
	font-size: 1.3em;
	font-weight: 300;
	text-indent: 30px;
}
/*Fim Sobre*/

/*Projetos start*/
.projetos{
	position: relative;
	width: 100%;
	min-height:100vh;
	padding: 100px;
	background: linear-gradient(to top, #131212 0%, #000000 120%);
	background-size: cover;
	display: flex;
	align-items: center;
	transition:0.6s;
	color: white;
}
/*card */
.projetos .main span {
	display: inline-block;
	width: 50px;
	height: 5px;
	background-color: #FF3434;
	margin-bottom: 30px;
}
.projetos .main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.projetos .container {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px;
	margin-top: 60px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.projetos .imag img{
	display:block; 
	height: 100%;
    width: auto;
    max-width: 500px;
    clip-path: circle(80% at 18% 50%);
	shape-outside: circle(54% at 0% 30%) border-box;
	margin-right: 30px !important;
}
.projetos h1 {
	font-weight: 600;
	font-size: 36px;
	margin: 0 0 15px;
	color: #40c3ff;
}
.projetos p {
	font-weight: 300 ;
	line-height: 24px;
	margin: 0 0 30px 0 !;
	color:black;
	font-size: 14pt;
}
.projetos .grid a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FF3434;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	display: inline-block;
	z-index: 1;
	padding: 5px;
	left: -5px;
}
.projetos .grid  a:hover {
	color: #40c3ff;
}
.projetos .imag {
	height: 300px;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.projetos .text-container {
	margin: 60px 45px 55px;
}
@media screen and (min-width: 768px) {
	.projetos .container {
		flex-direction: row;
		width: 100%;
	}
	.projetos .imag {
		height: 420px;
		min-width: 360px;
	}
	.projetos .text-container {
		margin: 0 60px;
		max-width: 660px;
	}
}
@media screen and (min-width: 1024px) {
	.projetos .container {
		max-width: 1200px;
	}
}
/*Fim projetos*/

/*Contatos start*/

.contato{
	position: relative;
	width: 100%;
	min-height:30vh;
	padding: 30px 30px 1px 30px;
	background-color: rgba(16, 19, 29, 0.664);
	background-size: cover;
	display: grid;
	align-items: center;
	transition:0.6s;
	color: white;
}
.contato h2{
	color: white;
	font-size: 2.5em;
	margin-bottom: 10px;
}
.socialc{
	display: flex;
	padding: 30px;
	margin: 40px
}
.socialc li{
	list-style: none;
}
.socalc li a{
	position: relative;
	display: grid;
	place-items: center;
	width: 50px;
	height: 50px;
	text-decoration: none;
	margin: 40px 0 0
}
.socialc li a i{
	font-size: 30pt;
	color: white;
	padding: 5px;
	transition: 1s;
}
.socialc li a i:hover{
	font-size: 31pt;
	color: yellow;
}
.contato .copyrigth{
	background-color: #000000;
	
}
.contato span{
	display: grid;
	justify-content: center;
	color: #40c3ff;
	font-size: 1.2em;
}
/*Fim contato*/


/*Midia  Querys*/
@media (max-width: 767px){
	header{
		padding: 20px 50px;
	}
	.banner,
	.sobre{
		padding: 100px 50px 150px;
	}
	.banner h2{
		font-size: 1.8em;
	}
	.banner p,
	.sobre p{
		font-size: 1em;
	}
	.banner .content a,
	.banner .content p{
		font-size: 1em;
	}
	body.active .banner,
	body.active .sobre,
	body.active .projetos,
	body.active .contato{
		transform: translateX(-250px)
	}
	#navegacao{
		width: 250px;
	}
	#navegacao ul li a{
		font-size:	1.5em;
		margin: 5px 0 0;
	}
	.social{
		position: absolute;
		bottom: 50px;
		right: initial;
		flex-direction: row;
	}
	.social li a {
		margin: initial;
		margin-right: 1em; 
	}
}